*{margin:0;padding:0;box-sizing: border-box}
body{
    background: #f3f6f8;}
#wrap{width:1000px;margin:0 auto;height:1770px;}
h1,h2,h3,h4,h5,h6,a,li,p{color:#444444}
header{
    width:1000px;
    height:140px;
}
#logo{
    width:100%;
    height:80px;
    line-height: 100px;
}
#logo>img{width:220px;height:42px; }
#logo>#login{float:right;width:300px;margin-right:10px;margin-top:18px;}
#login li{border-collapse:collapse;width:60px;height:30px;float:right;border:solid 1px #444444 ;
    line-height: 30px;cursor:pointer;
    text-align: center;
    background: #ffffff;font-size:13px;}
#login ul{width:200px;float:right;
    line-height: 70px;}
#drdw>ul{width:1000px;
    text-align: center;margin:0 auto;border-top:solid 1px gray;border-bottom: solid 1px gray}
#drdow{width:100%;
    text-align: center;}
#drdw>ul>li{;width:250px;float:left;height:60px;line-height: 60px;;position:relative;}
#drdw>ul>li>ul>li{height:0;overflow:hidden;border:none;
    line-height: 60px;z-index:11;position:relative}
a{
    text-decoration: none;
    color: #444444;
}
    
li{
    list-style: none;
}
#drdw>ul>li:hover ul li{
    height:60px;
    background: #c5e8e2;
    transition:.2s;
}
#drdw>ul>li:hover{
    background: #c5e8e2;
}
#drdw>ul>li:hover a{
    color:#444;
    font-weight:bold;
}
#drdw>ul>li>ul>li:hover {
    background:#ffffff;
}
#drdw>ul>li>ul>li:hover a{
   color:#444444;
}
#popup_register{
    width:500px;
    height:350px;
    display:none;
    position:fixed;
    top:100px;
    left:50%;
    margin-left:-250px;
    background:#444;
    color:#fff;
    z-index:100000;
}
#id dt,#password dt,#check_pw dt,#email dt{float:left}
#id dd,#password dd,#check_pw dd,#email dd{float:left}
#popup_register input{width:200px;height:21px;}
#popup_register label{width:100px;
    line-height: 20px;}
#popup_register dd{width:240px;float:left;}
#popup_register dt{width:250px;float:left;margin-left:10px;}
#popup_register{line-height: 50px;}
#submit{width:80px;height:30px;position:relative;left:35%;margin-top:30px;}
#cancel{width:80px;height:30px;position:relative;left:35%;margin-top:30px;}

#popup_login{
    display:none;
    position: fixed;
    top:300px;
    width:500px;
    left:50%;
    margin-left: -250px;
    background: #444;
    color:#fff;
    z-index:100000;
    line-height: 50px;
}
#popup_login dd{width:240px;float:left;}
#popup_login dt{width:250px;float:left;margin-left:10px;}
#popup_login input{width:200px;height:21px;}
#popup_login label{width:100px;
    line-height: 20px;}
#lg_id dt,#lg_password dt{float:left}
#lg_id dd,#lg_password dd{float:left}
#lg_submit{width:80px;height:30px;position:relative;left:35%;margin-top:30px;}
#lg_cancel{width:80px;height:30px;position:relative;left:35%;margin-top:30px;}

#slide{width:1000px;height:500px;position:relative;overflow:hidden;}
#slide img{width:1000px;height:500px;position:absolute;left:-100%;float:left;border:solid 1px gray}
#slide img:first-child{left:0;z-index:1}

/*640px*/
section{width:100%;height:1480px;}
#gpsic>img{width:130px;height:130px;}
aside{width:30%;height:980px;float:left;
    text-align: center;}
article{width:1000px;height:980px;
}

#contants{width:70%;height:490px;float:right;position:relative}
 article table{width:650px;margin:0 auto;border-collapse: collapse;}
article>table th{
    text-align: center;
    line-height: 25px;
    border-bottom:solid 1px #bbbbbb}
.contant{
    text-align: center;}
article table td{border-bottom:solid 1px #555555;
    line-height: 25px;}
#top{width:695px;height:240px;position:relative;border:solid 1px gray;margin:5px 10px 0 5px;
    background: #fff;padding:10px; }
#down{width:695px;height:240px;position:relative;padding:10px;margin:5px 10px 0 5px;border:solid 1px gray;background: #fff;}

article table a:hover{
    font-weight:bold;
}
#foonter{position:relative;top:25px;}
footer{
    text-align: center;
    height:150px;
    background: #555;
    width:1000px;
    position:relative;
}
footer span{color:#fff;}
#cal>table{font-size:15px;}
#cal th{width:40px;
    }
#cal table {width:290px;}
#gpsic{
    ;width:100%;height:240px;border:solid 1px gray;margin:5px auto 5px;
    background: #fff;}
#cal{padding-top:20px;
    background: #fff;height:240px;border:solid 1px gray;}
#today{
    background: blue;color:white;}

.gray{color:gainsboro;}
#bottom{width:1000px;height:490px;position:relative}
#banner{width:300px;height:480px;float:left;overflow:hidden
    ;position:relative;margin:5px auto 5px;}
#banner img{width:300px;height:480px;
    position: absolute;left:-100%;float:left;;border:solid 1px #000;cursor:pointer}
#banner img:first-child{left:0;z-index:1}
#bottomwrap{width:700px;height:490px;float:right;
    }
#du,#du2,#du3{position:absolute;top:7px; left:20px;cursor:pointer}
#du>a,#du2>a,#du3>a{color: #888;}
#cal tr td{cursor:pointer}

#cal td:hover{
    font-weight:bold;
}
.click{
    background: gray;color:#fff;}
#btop{width:695px;height:240px;position:relative;border:solid 1px gray;margin:5px 10px 0 5px;
    background: #fff;padding:10px;}
#bbottom{width:342.5px;height:235px;border:solid 1px gray;margin:5px 2.5px 5px 5px;float:left;}
#bbottom2{width:342.5px;height:235px;border:solid 1px gray;margin:5px 0 5px 5px;float:right}
#btop>table th{
    text-align: center;
    line-height: 25px;}
#btop>table td{border-bottom:solid 1px #555555;
    line-height: 25px;}
#bbottom img{width:342.5px;height:235px;position:absolute;cursor:pointer}
#black{width:342.5px;height:70px;background: #444;position: absolute;z-index:100;opacity: 0.9;margin-top:165px;
    text-align: center;line-height:70px;color:#eee;cursor:pointer
}

#bbottom2>iframe{width:342.5px;height:205px;;position: absolute}
#bbottom2>#chat{width:342.5px;height:30px;background: #444;position: absolute;z-index:100;opacity: 0.8;margin-top:205px;
    text-align: center;line-height:30px;color:#fff;}
#welcome>p{font-size:45px;color:#eee}
#color1{color:greenyellow}
#color2{color:mediumvioletred}
#color3{color:dodgerblue}
#color4{color:black}
#welcome{width:600px;height:220px;padding-top:30px;position:absolute;top:300px;left:50%;margin-left:-300px;z-index:10;opacity:0.9;
    text-align: center;
    background: #444;}
#jemok{font-weight:bold;font-size:60px;color:#eee}
#bbottom:hover #black{
    opacity:1;
    transition:.2s;
    font-weight:bold;
}
footer>#flogo{position:absolute;left:0;top:-30px;width:240px;z-index:3}



