*{margin:0;padding:0;box-sizing: border-box}
#wrap{width:1500px;height:1400px;margin:0 auto;position:relative}
h1,h2,h3,h4,h5,h6{z-index:100000;}
header{height:50px;width:100%;
    background: gray;
    line-height: 50px;
    }
header>ul{
    text-align: center;
    float:right;
    height: 50px;width:90px}
header>ul>li{width:90px;height:50px;line-height: 50px;font-weight:bold}

header>ul>li>a{color:#fff;}

header>ul>li:hover{
    background: #fff;transition:.2s;}
header>ul>li:hover>a{
    color:black;
}
a{
    text-decoration: none;color:#000;}
section{width:1500px;height:1150px;padding:0;margin:0 auto;}
#left{float:left;width:750px;padding:0;height:1000px;position:relative;}
#left>img{width:750px;height:875px;float:left;}
#right{float:left;width:750px;padding:0;height:1000px;position:relative}
.small img{float:left;width:375px;}
#big img{float:left;width:750px;height:500px;}
li{
    list-style:none;
    line-height: 30px;}
footer{position:relative;height:200px;width:1500px;
    margin:0 auto;
    background:gray;
    text-align: center;
    }
footer>p{
    line-height:200px;}
#a-left ul>li>ul li{border-bottom: black solid 1px;
    }
#a-left{width:85%;float:left;overflow: hidden;font-size: 15px;}
#a-right{width:15%;float:left;overflow: hidden;font-size: 15px;}
#a-right ul>li>ul li{border-bottom: black solid 1px;}
#a-right h3{
    text-align: center;}
#a-left h3{
    text-align: center;}
#b-left ul>li>ul li{border-bottom: black solid 1px;
}
#b-left{width:70%;float:left;overflow: hidden;font-size: 15px;}
#b-right{width:30%;float:left;overflow: hidden;font-size: 15px;}
#b-right ul>li>ul li{border-bottom: black solid 1px;}
#b-right h3{
    text-align: center;}
#b-left h3{
    text-align: center;}

#smalltext1{
    text-align: center;position:absolute;;top:30px;left:10px;width:350px;}
#smalltext1>a{color:#fff;font-size: 20px;}
#smalltext2{
    text-align: center;position:absolute;;top:30px;left:350px;width:450px;}
#smalltext2>a{color:#fff;font-size: 20px;}
#bigtext1{text-align: center;position:absolute;;top:420px;left:130px;width:500px;}
#bigtext1>a{color:#fff;font-size: 20px;}
#c{
    position:absolute;
    top:800px;
    left:10px;
}
#d{position:absolute;
    top:800px;
    left:10px;  }

#jigm{
    background: #fff;}

#jigm a{color:black;font-weight:bold;}
#jigm li{height:50px;line-height: 50px;}
/*20523최윤*/




