*{margin:0;padding:0;box-sizing: border-box  }

#wrap{width:1500px;height:1600px;}

li{
    list-style: none
}

a{
    text-decoration: none;
}

.a{
    cursor:pointer;
}

header {
    width: 100%;
    height: 50px;
    background: gray;
    margin: 0 auto;
    padding-bottom: 20px;
}

header>ul{
    width:350px;
    float:right;
    line-height:50px;
}

header>ul>li{
    float:left;
    width: 100px;
}

header>ul>li>a{
    color:#fff;
    float:left;
}

#leftimg{
    width:35%;
    height:100%;
}

#gonggo{
    padding-top:5px;
}

#gonggo>#bub{
    width:50%;
    float:left;
    text-align: center;
    background:#333333;
    border:solid 1px #999;
    height:30px;
    line-height: 30px;color:#fff;
    font-size:12px;
}

#gonggo>#juk{
    width:50%;
    float:left;
    text-align: center;
    background: #fff;
    border:solid 1px #999;
    height:30px;
    line-height:30px;
    font-size:12px;
}

#right{
    width:65%;
    float:right;
    position:relative;
    padding:30px;
}

#right>#logo{
    width:150px;
    position: relative;
    top:50px;
    height:150px;
}
.d{
    width:50px;
}
.c{
width:120px;
}
.b{
    width:95px;
}
article{
    position:relative;
    float:right;
    padding-top:30px;padding-right:30px;}
table{width:120%;float:right;border-top:solid darkgray 1px;border-bottom:solid darkgray 1px;
    line-height: 35px; border-collapse: collapse;}
th{
    text-align: center;font-size: 10px;border-bottom: solid 1px darkgray}
td{font-size: 10px;
    text-align: center;}
.n{
    width:45%;
    text-align: left;
    padding-left: 10px;
    }

td>div>button{width:50px;font-size: 10px;border:solid 1px #111;height:23px;}
.white>button{
    background: #fff;
    float:left;
}
.red>button{
    color:#fff;
    background: red;
    float:right;

}

#rightimg{position:absolute;left:50px;top:140px;}